interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ecotaxa.obs-vlfr.fr/api/object/4200030315
  response:
    body:
      string: '{"objid":4200030315,"acquisid":420000014,"orig_id":"gn2015_l2_019_1","sample_id":42000013,"project_id":42,"classif_id":85076,"classif_qual":"V","objdate":"2015-05-22","depth_min":1.8,"depth_max":1.8,"latitude":67.4795,"longitude":-63.79,"free_columns":{"area":0.012},"random_value":1234}'
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://ecotaxa.obs-vlfr.fr/api/sample/42000013
  response:
    body:
      string: '{"sampleid":42000013,"projid":42,"orig_id":"gn2015_l2_019","latitude":67.4795,"longitude":-63.79,"free_columns":{}}'
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://ecotaxa.obs-vlfr.fr/api/acquisition/420000014
  response:
    body:
      string: '{"acquisid":420000014,"acq_sample_id":42000013,"orig_id":"uvp5_gn2015_l2_019","instrument":"uvp5","free_columns":{}}'
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
